# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter / ML
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
data/input/page_metadata *.csv


# Client data (inputs & outputs)
data/input/**
data/output/**